/* Estilos para a imagem de fundo */
body {

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estilos para a barra de navegação */
.navbar-custom {
    background-color: rgba(59, 157, 254, 0.5);
    padding: 10px;
    display: flex; /* Usar flexbox para alinhar verticalmente o conteúdo */
    align-items: center; /* Centralizar verticalmente o conteúdo */
}

/* Estilos para o texto "PetSeguro" na navbar */
.navbar-brand {
    color: #3c3b3b; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    font-size: 30px; /* Tamanho da fonte para o texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease; /* Adicionar transição suave para cor, transform e sombra */
}


/* Efeito de hover para a marca e o ícone na navbar */
.navbar-custom .navbar-brand:hover {
    color: #3b9dfe; /* Mudar a cor do texto ao passar o mouse */
    transform: scale(1.1); /* Aumentar o tamanho do ícone e do texto no hover */
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); /* Adicionar uma sombra no texto no hover */
}

.navbar-custom .navbar-brand img:hover {
    transform: scale(1.1); /* Aumentar o tamanho do ícone no hover */
}


/* Estilos para os links de navegação */
.navbar-custom .navbar-nav .nav-item .nav-link {
    font-weight: bold; /* Texto em negrito */
    font-size: 20px; /* Tamanho da fonte para o texto */
    color: #3c3b3b; /* Cor dos links */
    margin: 0 10px; /* Espaçamento horizontal entre os links */
    transition: color 0.3s ease-in-out; /* Efeito de transição suave para a cor do texto */
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
}

/* Estilos para os links de navegação no hover */
.navbar-custom .navbar-nav .nav-item .nav-link {
    transition: color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease, border-radius 0.3s ease; /* Adicionando transições suaves para cor, transform, sombra e borda */
    border-radius: 0; /* Remover qualquer borda arredondada padrão */
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover {
    color: #3b9dfe; /* Mudar a cor dos links ao passar o mouse */
    transform: scale(1.2); /* Aumentar o tamanho do texto no hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra no hover */
    border-radius: 15px; /* Adicionar bordas arredondadas no hover */
}



/* Estilos para a seção Banner */
.banner-section {
    position: relative; /* Adicione posição relativa para criar um contexto para ::before */

    background-size: contain; /* Torna a imagem de fundo cobrir toda a área da div */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem de fundo */
    background-attachment: fixed; /* Torna a imagem de fundo fixa */
    min-height: 400px; /* Ajuste conforme necessário para controlar a altura da seção */
    padding: 100px 0; /* Espaçamento interno superior e inferior */
    z-index: 1;
    /* Estilos para o texto na seção */
    color: #000000; /* Cor do texto */
    text-align: center;
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4); /* Cor e opacidade da camada semitransparente */
    z-index: -1; /* Certifique-se de que a camada esteja atrás da imagem de fundo */
}



/* Estilos para o texto na seção */
.banner-section h1 {
    color: #3c3b3b;
    font-size: 40px;
    margin-top: 40px;
    text-align: right;
    font-weight: bold; /* Texto em negrito */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
}

.banner-section p {
    color: #3c3b3b;
    text-align: center;
    font-size: 25px;
    font-weight: bold; /* Texto em negrito */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombreamento de texto */
    margin-top: 350px;

}
/* Estilos para o conteúdo principal */
.container {
    margin-top: 20px;
    text-align: center;
    color: white;
}

/* Estilos para a seção principal */
.main-section {
    background-color: #fefefe; /* Cor de fundo da seção */
    padding: 100px 0; /* Espaçamento interno */
}

.main-section h2 {
    font-size: 50px; /* Tamanho da fonte do título */
    margin-bottom: 40px; /* Espaçamento inferior do título */
}

/* Estilos para a div do mapa */
#map {
    height: 400px;
    border: 2px solid #3b9dfe; /* Borda fina ao redor do mapa */
    border-radius: 5px; /* Borda arredondada */

}

/* Estilos para a seção de configurações */
#config-panel {
    background-color: rgba(59, 157, 254, 0.5); /* Cor de fundo da seção */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda fina ao redor da seção */
    margin-top: 20px; /* Espaçamento superior para separar da seção anterior */
}

#config-panel h2 {
    color: #000;
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento inferior do título */
}

#icon-select {
    width: 100%; /* Largura total para preencher a largura da div */
    padding: 10px; /* Espaçamento interno dos seletores */
    margin-bottom: 10px; /* Espaçamento inferior entre os seletores */
}

#pet-name {
    width: 100%; /* Largura total para preencher a largura da div */
    padding: 10px; /* Espaçamento interno do campo de texto */
    margin-bottom: 20px; /* Espaçamento inferior do campo de texto */
}

#config-panel button {
    background-color: #3b9dfe; /* Cor de fundo do botão ao passar o mouse */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remova a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mude o cursor para um ponteiro ao passar o mouse */
}

#config-panel button:hover {
    background-color: #3c3b3b; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */

}


/* Estilos para a seção de vantagens */
.section-heading {
    margin-bottom: 80px; /* Espaçamento inferior para o título da seção */
    color: #3c3b3b;
    font-size: 40px;
    text-align: center;
    font-weight: bold; /* Texto em negrito */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
}

.feature-1 {
    margin-bottom: 30px; /* Espaçamento inferior entre as divs das vantagens */
}

.feature-1 .wrap-icon {
    background-color: #3b9dfe; /* Cor de fundo do ícone */
    border-radius: 50%; /* Borda arredondada para o ícone */
    padding: 20px; /* Espaçamento interno do ícone */
    margin: 0 auto; /* Centraliza horizontalmente o ícone */
    display: inline-block;
}

.feature-1 .wrap-icon i {
    font-size: 36px; /* Tamanho do ícone */
    color: #3c3b3b; /* Cor do ícone */
}
.feature-1 .wrap-icon:hover {
    background-color: #3c3b3b;
}

.feature-1 .wrap-icon:hover i {
    color: #3b9dfe;
    background-color: #3c3b3b;
}


.feature-1 h3 {
    font-size: 24px; /* Tamanho da fonte para o título da vantagem */
    margin-top: 20px; /* Espaçamento superior para o título da vantagem */
    font-weight: bold; /* Texto em negrito */
    color: #3c3b3b; /* Cor do título da vantagem */
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

.feature-1 p {
    font-size: 18px; /* Tamanho da fonte para o texto da vantagem */
    color: #020000; /* Cor do texto da vantagem */
}

/* Estilos para o rodapé */
footer {
    background-color: rgba(59, 157, 254, 0.5);
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.custom-link {
    color: #3c3b3b; /* Cor dos links */
    text-decoration: none; /* Remova o sublinhado padrão dos links */
    font-weight: bold; /* Texto em negrito */
    font-size: 15px; /* Tamanho da fonte para o texto */

}

.custom-link:hover {
    color: #150ae8; /* Cor do link ao passar o mouse (hover) */
}


/* Estilos para a seção de Funcionalidades Úteis */
.funcionalidades-section {
    background-color: #fefefe; /* Cor de fundo da seção */
    padding: 50px 0; /* Espaçamento interno superior e inferior */
    text-align: center;
}

.funcionalidades-section h2 {
    color: #3c3b3b;
    font-size: 40px;
    text-align: center;
    font-weight: bold; /* Texto em negrito */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    margin-bottom: 40px; /* Espaçamento inferior para o título da seção */
}

.funcionalidades-section .section-subheading {
    font-size: 18px; /* Tamanho da fonte para o subtitulo */
    color: #888; /* Cor do subtitulo */
    margin-bottom: 30px; /* Espaçamento inferior para o subtitulo */
}

/* Estilos para os botões de funcionalidades */
.funcionalidades-uteis button {
    width: 100%; /* Largura total dos botões */
    margin-bottom: 40px; /* Espaçamento inferior entre os botões */
    font-size: 18px; /* Tamanho da fonte para os botões */
    text-transform: uppercase; /* Texto em maiúsculas */
    border-radius: 5px; /* Borda arredondada dos botões */
    padding: 15px; /* Espaçamento interno dos botões */
}

.funcionalidades-uteis button:hover {
    background-color: #3b9dfe; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}


/* CSS para o container de login */
.login-section {
    background-image: url('imagens/Pets\ in\ front\ of\ a\ white\ background.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 600px; /* Define a largura máxima do contêiner */
    margin: 100px auto; /* Centraliza o contêiner na vertical e horizontal */
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5); /* Adiciona uma borda 3D cinza semi-transparente */
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold; /* Texto em negrito */
    color: #3c3b3b;
    text-shadow: 2px 2px 4px rgba(78, 79, 79, 0.5); /* Sombreamento de texto */
}

.login-container form {
    text-align: left;
    color: #3c3b3b;
}

.login-container label {
    font-weight: bold;
    font-size: 20px;
    color: #3c3b3b;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

.login-container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; /* Texto em negrito */
    color: #3b9dfe;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

.login-container a:hover {
    color: #3c3b3b;
}

.login-container button {
    background-color: #3c3b3b; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    /* Adicione as seguintes regras para centralizar o botão */
    display: block;
    margin: 0 auto;
}

.login-container button:hover {
    background-color: #3b9dfe; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
}

@media (max-width: 768px) {
    .login-container {
        max-width: 100%;
    }
}

/* CSS para a Etapa de cadastro */
/* CSS para a seção de destaque de etapa */
.destaque-etapa-fixed {
    position: fixed;
    top: 50%; /* Ajuste a posição vertical conforme necessário */
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(59, 157, 254, 0.5);
    padding: 10px;
    text-align: center;
    z-index: 2; /* Para garantir que fique acima de outros elementos */
    border-radius: 5px;
    cursor: n-resize; /* Mude o cursor para um ponteiro para cima/baixo */
    transition: background-color 0.3s; /* Efeito de transição de cor de fundo */
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

.destaque-text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

/* CSS para a seção de cadastro de usuário */
.cadastro-usuario {
    background-image: url('imagens/cadastro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 600px; /* Define a largura máxima do contêiner */
    margin: 100px auto; /* Centraliza o contêiner na vertical e horizontal */
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5); /* Adiciona uma borda 3D cinza semi-transparente */
}


.cadastro-container h2 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold; /* Texto em negrito */
    color: #3c3b3b;
    text-shadow: 2px 2px 4px rgba(78, 79, 79, 0.5); /* Sombreamento de texto */
}

.cadastro-container form {
    text-align: left;
    color: #3c3b3b;
}

.cadastro-container label {
    font-weight: bold;
    font-size: 20px;
    color: #3c3b3b;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

.cadastro-container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; /* Texto em negrito */
    color: #3b9dfe;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

.cadastro-container a:hover {
    color: #3c3b3b;
}

.cadastro-container button {
    background-color: #3c3b3b; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    /* Adicione as seguintes regras para centralizar o botão */
    display: block;
    margin: 0 auto;
}

.cadastro-container button:hover {
    background-color: #3b9dfe; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
}

@media (max-width: 768px) {
    .cadastro-container {
        max-width: 100%;
    }
}
/* Estilo para h3 dentro da seção de cadastro de pet */
.cadastro-pet h3 {
    font-size: 35px;
    margin-top: 20px;
    color: #3b9dfe;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

/* Estilo para a seção de cadastro de pet */
.cadastro-pet {
    background-image: url('imagens/saudeanimal.jpg');

    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo para as seções de Notícias e Informações, Mural de Animais Perdidos e Mural de Rede Social */
section {
    background-color: #fff; /* Cor de fundo para todas as seções */
    padding: 80px 0; /* Espaçamento interno superior e inferior */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilo para o h2 na seção "Notícias e Informações" */
.container h2 {
    color: #3c3b3b; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    font-weight: bold; /* Texto em negrito */
    font-size: 40px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para limitar o tamanho das imagens no carrossel */
#noticiasCarousel .carousel-item {
    position: relative; /* Define posição relativa para permitir camadas */

}

#noticiasCarousel .carousel-item img {
    max-width: 100%; /* Largura máxima igual à largura do contêiner pai */
    height: auto; /* Altura ajustada automaticamente para manter a proporção */
    display: block; /* Remover espaço extra abaixo das imagens */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}


#noticiasCarousel .carousel-caption {
    position: absolute; /* Define posição absoluta para sobrepor o texto */
    top: 50%; /* Alinha o topo da legenda ao centro verticalmente */
    left: 50%; /* Alinha a esquerda da legenda ao centro horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza a legenda */
    color: white; /* Cor do texto branco */
    background: rgba(255, 255, 255, 0.5); /* Fundo esfumaçado branco com transparência */
    padding: 15px; /* Espaçamento interno da legenda */
    border-radius: 5px; /* Cantos arredondados da legenda */
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

#noticiasCarousel .carousel-caption h5 {
    color: #3c3b3b;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
    font-weight: bold; /* Texto em negrito */
    font-size: 40px; /* Tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento inferior */
}

#noticiasCarousel .carousel-caption p {
    font-size: 35px;
    margin-top: 20px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

#noticiasCarousel .carousel-control-prev,
#noticiasCarousel .carousel-control-next {
    width: 5%; /* Largura dos controles */
    opacity: 0.9; /* Opacidade dos controles */
    color: black;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

/* Estilo para limitar o tamanho das imagens no carrossel */
#noticiasCarousel .carousel-item img {
    max-width: 100%; /* Largura máxima igual à largura do contêiner pai */
    max-height: 600px; /* Altura máxima desejada */
    background-size: contain; /* Torna a imagem de fundo cobrir toda a área da div */
    display: block; /* Remover espaço extra abaixo das imagens */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
}
/* Estilo para a seção de Mural de Animais Perdidos */
.container.my-5 {
    padding: 80px 0; /* Espaçamento interno superior e inferior */
    background-color: #fff; /* Cor de fundo */
    text-align: center; /* Centraliza o conteúdo */

}

/* Estilo para o título da seção */
.container.my-5 h2 {
    font-size: 40px;
    color: #3c3b3b; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para os itens de Mural de Animais Perdidos */
.container.my-5 .col-md-4 {
    text-align: center;
    margin-bottom: 20px;

}

.container.my-5 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc; /* Adicione uma borda ao redor da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço do container */

}

.container.my-5 h5 {
    font-weight: bold;
    font-size: 20px;
    color: #3c3b3b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container.my-5 p {
    font-size: 16px;
    color: #333;
}

.container.my-5 .btn-primary {
    background-color: #3b9dfe;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

.container.my-5 .btn-primary:hover {
    background-color: #3c3b3b; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
}


/* Estilo para o formulário e postagens da Mural de Rede Social */
form {
    margin-bottom: 20px;
}

/* Estilo para o botão "Postar" */
form button {
    background-color: #3b9dfe;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.5);
}

form button:hover {
    background-color: #3c3b3b; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
}

/* Estilo para a imagem do usuário nas postagens da Rede Social */
.card img.card-img-top {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #3b9dfe; /* Adicione uma borda para destacar a imagem do perfil */
}

/* Estilo para o texto dentro das postagens da Rede Social */
.card-text {
    font-size: 18px;
    color: #333;
}

/* Estilos para os textos h5 e p nas postagens da Rede Social */
.card-title,
.card-text {
    color: #3b9dfe; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    font-weight: bold; /* Texto em negrito */
}


.public-info-section {
    padding: 40px 0; /* Espaçamento interno na parte superior e inferior */
}
.public-info-section h2 {
    font-size: 60px;
    color: #3c3b3b; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    font-weight: bold;
    margin: 120px; /* Espaçamento inferior */
}
.section-heading {
    font-size: 24px;
    margin: 50px;
}

/* Estilos para os contadores */
.col-md-4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

/* Estilos para os títulos h3 */
.col-md-4 h3 {
    margin-top: 30px; /* Espaçamento superior */
    font-size: 28px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(88, 88, 88, 0.5); /* Sombreamento de texto */
}

/* Estilos para os valores dos contadores (p) */
#total-animais-cadastrados, #animais-com-chip, #animais-encontrados {
    font-size: 36px; /* Tamanho da fonte */
    color: #3b9dfe; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
}

/* Estilos para os gráficos (você pode personalizá-los como desejar) */
canvas {
    width: 100%;
    max-width: 400px;
    height: auto;
}
/* Estilos para a seção "Ficha do Pet" */
.ficha-pet {

    padding: 20px; /* Espaçamento interno */

    margin: 20px auto; /* Centraliza a ficha horizontalmente */
    max-width: 100%; /* Garante que a ficha seja responsiva */

    display: flex; /* Exibe os elementos em um layout flexível */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
}

.ficha-pet h2 {
    color: #3c3b3b; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    font-size: 40px; /* Tamanho da fonte do título */
    text-align: center; /* Centralizar o título */
    margin-top: 0; /* Remova o espaço superior do título */
}

.ficha-pet .imagem-pet {
    max-width: 150px; /* Largura máxima da imagem de perfil */
    max-height: 150px; /* Altura máxima da imagem de perfil */
    border: 4px solid #3b9dfe; /* Borda com a cor do perfil */

    margin-bottom: 20px; /* Espaço inferior abaixo da foto de perfil */
}

/* Estilos para os detalhes do pet */
.ficha-pet table {

    width: 100%; /* Tabela ocupa toda a largura da div */
    border-collapse: collapse; /* Remove espaços entre as células da tabela */
}

.ficha-pet table th,
.ficha-pet table td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto à esquerda nas células */
}

.ficha-pet table th {
    background-color: rgba(59, 157, 254, 0.5) /* Cor de fundo da tabela */
}

.ficha-pet h3 {
    color: #3b9dfe; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombreamento de texto */
    font-size: 30px; /* Tamanho da fonte para os títulos de seção */
    margin-top: 20px; /* Espaço superior entre as seções */
}




/* Ajuste para o layout responsivo */
@media (max-width: 768px) {
    .ficha-pet {
        flex-direction: column; /* Empilha os elementos em dispositivos menores */
    }

    .ficha-pet img {
        max-width: 100%; /* Garante que a imagem seja responsiva em dispositivos menores */
        max-height: 100%; /* Garante que a imagem seja responsiva em dispositivos menores */
        margin-bottom: 20px; /* Adiciona espaço abaixo da foto de perfil */
    }
}
